*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#548687 ;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height:18vmin ;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0,0, 0.5);
    font-size: 8vmin;
    color: #b0413e;
    background-color:#ffff67 ;
}

#rest-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffff;
    border-radius: 1rem;
    border: none;
}

#msg{
    font-size: 5vmin;
    color: #ffffc7;
}

.msg-container{
    height: 30vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4 rem;
}

#new-game{
    width: 20vmin;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffff;
    border-radius: 1rem;
    border: none;
}

.hide{
    display: none;
}